<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="6320Mr.Python-XiaoXiao.6012D55482E9"
    Publisher="CN=F285E61A-3976-4D01-9057-119F47D4935A"
    Version="0.1.13.0" />

  <mp:PhoneIdentity PhoneProductId="18df398e-9cec-4fb3-ab9c-7c7b9f62f8e2" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Neo Box</DisplayName>
    <PublisherDisplayName>Mr.Python - XiaoXiao</PublisherDisplayName>
    <Logo>Assets\Store\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Neo Box"
        Description="NeoBox"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Store\Square150x150Logo.png"
        Square44x44Logo="Assets\Store\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Store\Wide310x150Logo.png"  Square71x71Logo="Assets\Store\SmallTile.png" Square310x310Logo="Assets\Store\LargeTile.png">
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Store\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="Assets\Store\BadgeLogo.png" Notification="badgeAndTileText"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="portraitFlipped"/>
          <uap:Rotation Preference="landscapeFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
